body
{
    background-size: cover;
}


.heading
{
    font-size: 23px;
    width: 100%;
    margin: 1px;
}

.stop
{
    margin-top: 20px;
}

.note
{
    font-size: 13px;
    color: black;
    font-weight: bold; 
}


canvas
{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 100px;
}